[settings]
sendername = DeltaRadio
dbname = deltaradio
kurzbeschreibung = Das einzige Radio mit guter Musik
url = http://www.deltaradio.de
playlist_url = http://www.deltaradio.de/feeds/playlist.rss
type = xml

[xpath]
count_from = 1
count_to = count(.//item)
time = .//item[%%counter%%]/pubDate
artist = .//item[%%counter%%]/artist
title = .//item[%%counter%%]/plain_title
duration = .//item[%%counter%%]/duration