[settings]
sendername = EinsL1ve
dbname = einslive
kurzbeschreibung = Der erste Sender
url = http://www.einslive.de
playlist_url = http://www.einslive.de/musik/playlists/
type = html

[xpath]
count_from = 1
count_to = count(.//*[@id='searchPlaylistResult']/tbody/tr)
time = .//*[@id='searchPlaylistResult']/tbody/tr[%%counter%%]/th/text()[2]
artist = .//*[@id='searchPlaylistResult']/tbody/tr[%%counter%%]/td/strong
title = .//*[@id='searchPlaylistResult']/tbody/tr[%%counter%%]/td
duration = 

