[settings]
sendername = NDR 2
dbname = ndr2
kurzbeschreibung = 
url = http://www.ndr.de/ndr2/
playlist_url = http://www.ndr.de/ndr2/programm/titelliste1202.html
type = html

[xpath]
count_from = 1
count_to = count(.//*[@id='playlist']/ul/li)
time = .//*[@id='playlist']/ul/li[%%counter%%]/div[1]/strong
artist = .//*[@id='playlist']/ul/li[%%counter%%]/div[3]/h3/span[1]
title = .//*[@id='playlist']/ul/li[%%counter%%]/div[3]/h3/span[2]
duration = 