[settings]
sendername = SWR3
dbname = swr3
kurzbeschreibung = die Popwelle des Südwestrundfunks
url = http://www.swr3.de
playlist_url =
type = plugin_html
plugin = swr3

[xpath]
count_from = 2
count_to = count(//tr)
time = //tr[%%counter%%]/td[3]
artist = //tr[%%counter%%]/td[1]/a
title = //tr[%%counter%%]/td[2]/a
duration = 