[settings]
sendername = Antenne Bayern
dbname = antennebayern
kurzbeschreibung = Wir lieben Bayern. Wir lieben die Hits
url = http://www.antenne.de
playlist_url = http://www.antenne.de/musik/song-suche.html
type = html

[xpath]
count_from = 1
count_to = count(//section[contains(concat(' ',normalize-space(@class),' '),' media-list ')]/div)
time = //section[contains(concat(' ',normalize-space(@class),' '),' media-list ')]/div[%%counter%%]/div/div[1]/p/span[2]
artist = //section[contains(concat(' ',normalize-space(@class),' '),' media-list ')]/div[%%counter%%]/div/div[1]/a[2]
title = //section[contains(concat(' ',normalize-space(@class),' '),' media-list ')]/div[%%counter%%]/div/div[1]/a[1]
duration = 