[settings]
sendername = EinsL1ve
dbname = einslive
kurzbeschreibung = Der erste Sender
url = http://www.einslive.de
playlist_url = http://www.einslive.de/musik/playlists/

[xpath]
count_from = 1
count_to = count(.//*[@id='wsContentArea']/table/tbody/tr)
time = .//*[@id='wsContentArea']/table/tbody/tr[%%counter%%]/td[1]
artist = .//*[@id='wsContentArea']/table/tbody/tr[%%counter%%]/td[2]
title = .//*[@id='wsContentArea']/table/tbody/tr[%%counter%%]/td[3]
duration = 

[red]
test = 1