[settings]
sendername = MDR Jump Live
dbname = mdrjumplive
kurzbeschreibung = MDR Jump Live
url = http://www.jumpradio.de
playlist_url = http://www.jumpradio.de/scripts4/titellisten/xml-index.do?idwelle=1&amount=5
type = xml

[xpath]
count_from = 1
count_to = count(.//TAKE)
time = .//TAKE[%%counter%%]/starttime
artist = .//TAKE[%%counter%%]/author
title = .//TAKE[%%counter%%]/title
duration = .//TAKE[%%counter%%]/duration