[settings]
sendername = Radio Essen	
dbname = radioessen
kurzbeschreibung = Lokalradio Essen
url = http://www.radioessen.de	
playlist_url = http://www.radioessen.de/musik/playlist.html	; Playlist URL

[xpath]
count_from = 3 
count_to = count(//div[contains(concat(' ',normalize-space(@class),' '),' playlist ')]//table//tr)
time = //div[contains(concat(' ',normalize-space(@class),' '),' playlist ')]//table//tr[%%counter%%]//td[3]
artist = //div[contains(concat(' ',normalize-space(@class),' '),' playlist ')]//table//tr[%%counter%%]//td[2]//b
title = //div[contains(concat(' ',normalize-space(@class),' '),' playlist ')]//table//tr[%%counter%%]//td[2]
duration = 