[settings]
sendername = Radio Paloma
dbname = radiopaloma
kurzbeschreibung = 100 Prozent deutscher Schlager
url = http://www.radiopaloma.de
playlist_url = http://paloma.explodio.de/titelsuche/index.php
type = plugin_html
plugin = radiopaloma

[xpath]
count_from = 2
count_to = count(//tr)
time = //tr[%%counter%%]/td[1]
artist = //tr[%%counter%%]/td[2]
title = //tr[%%counter%%]/td[3]
duration = 