[settings]
sendername = RTL Radio
dbname = rtlradio
kurzbeschreibung =
url = http://www.rtlradio.de
playlist_url =http://www.rtlradio.de/Musik.22-3.html
type = html

[xpath]
count_from = 2
count_to = count(.//*[@id='playlistContainer']/ul[1]/li)
time = .//*[@id='playlistContainer']/ul[1]/li[%%counter%%]/span[2]
artist = .//*[@id='playlistContainer']/ul[1]/li[%%counter%%]/span[3]
title = .//*[@id='playlistContainer']/ul[1]/li[%%counter%%]/span[1]
duration = 