[settings]
sendername = wdr2
dbname = wdr2
kurzbeschreibung = West Deutscher Runfung (WDR2)
url = http://www.wdr2.de
playlist_url = http://www.wdr2.de/musik/titelsuche100.html 
type = html

[xpath]
count_from = 1
count_to = count(.//table[@id='searchPlaylistResult']//td/strong)
time = (.//table[@id='searchPlaylistResult']//th[@scope='row']/text()[2])[%%counter%%]
artist = (.//table[@id='searchPlaylistResult']//td/text())[%%counter%%]
title = (.//table[@id='searchPlaylistResult']//strong/text())[%%counter%%]
duration = 
