[settings]
sendername = wdr3
dbname = wdr3
kurzbeschreibung = Klassische Musik des West Deutschen Rundfunks (WDR3)
url = http://www.wdr3.de
playlist_url = http://www.wdr3.de/musik/titelsuche102.html 
type = html

[xpath]
count_from = 1
count_to = count(.//table[@id='searchPlaylistResult']//td/strong)
time = (.//table[@id='searchPlaylistResult']//th[@scope='row']/text()[2])[%%counter%%]
artist = (.//table[@id='searchPlaylistResult']//td/text())[%%counter%%]
title =(.//table[@id='searchPlaylistResult']//td[2]/text())[%%counter%%] 
duration = 
