[settings]
sendername = wdr4
dbname = wdr4
kurzbeschreibung = Schlagersender des West Deutschen Rundfunks (wdr4)
url = http://www.wdr4.de
playlist_url = http://www.wdr4.de/musik/titelsuche110.html
type = html

[xpath]
count_from = 1
count_to = count(.//table[@id='searchPlaylistResult']//td/strong)
time = (.//table[@id='searchPlaylistResult']//th[@scope='row']/text()[2])[%%counter%%]
artist = (.//table[@id='searchPlaylistResult']//td/text())[%%counter%%]
title = (.//table[@id='searchPlaylistResult']//strong/text())[%%counter%%]
duration = 
