[settings]
sendername = wdr5
dbname = wdr5
kurzbeschreibung = Wortprogramm mit Musik des West Deutschen Rundfunks (WDR5)
url = http://www.wdr5.de
playlist_url = http://www.wdr5.de/playlist136.html 
type = html

[xpath]
count_from = 1
count_to = count(.//table[@id='searchPlaylistResult']//td/strong)
time = (.//table[@id='searchPlaylistResult']//th[@scope='row']/text()[2])[%%counter%%]
artist = (.//table[@id='searchPlaylistResult']//td/text())[%%counter%%]
title = (.//table[@id='searchPlaylistResult']//strong/text())[%%counter%%]
duration = 
